.name {
    text-align: center;
}

.pic, .about-me {
    display: inline-block;
    vertical-align: top;
    
}

.pic {
    padding: 20px;
    border-radius: 35px;
    background-color: #f1faee;
    /* overflow: auto; */
}

.pic img {
    border-radius: 40%;
}

.about-me {
    /* float: right; */
    margin-left: 10px;
}


h1 {
    font-family: "Helvetica", ;
}

body {
    background-color: #2a9d8f;
}

.about-me {
    font-family: monospace;
}

.destaque {
    background: #e76f51;
    color: white;
}

p {
    line-height: 22px;
}

.hab1 {
    font-size: 30px;                
}

.hab2 {
    font-size: 25px;                
}

.hab3 {
    font-size: 20px;                
}